{# This partial clones the CLX repo and build and installs it into the rapids conda env. #}

{# Install build prerequisites #}
RUN source activate rapids && \
    gpuci_conda_retry install -y -n rapids -c pytorch \
        "pytorch=1.7.1" \
        torchvision \
        "cudf_kafka=${RAPIDS_VER}" \
        "custreamz=${RAPIDS_VER}" \
        "transformers=4.*" \
        seqeval \
        python-whois \
        faker && \
    pip install "git+https://github.com/rapidsai/cudatashader.git" && \
    pip install mockito && \
    pip install wget && \
    pip install "git+https://github.com/slashnext/SlashNext-URL-Analysis-and-Enrichment.git#egg=slashnext-phishing-ir&subdirectory=Python SDK/src"

{# Clone, build, install #}
RUN cd ${RAPIDS_DIR} \
    && git clone -b ${BUILD_BRANCH} https://github.com/rapidsai/clx.git

# clx build/install
RUN source activate rapids && \
    cd /rapids/clx/python && \
    python setup.py install
