.vscode

*.a
*.bz2
*.dll
*.dylib
*.exe
*.gz
*.pdf
*.png
.ruff_cache/
*.so
*.tar.gz
*.tgz
*.whl
*.zip

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
