---
# Default Docker build arguments
DEFAULT_PYTHON_VERSION: "3.10"
DEFAULT_CUDA_VERSION: "11.8"
DEFAULT_LINUX_VERSION: "ubuntu22.04"
DEFAULT_STABLE_RAPIDS_VERSION: "23.06"
DEFAULT_NIGHTLY_RAPIDS_VERSION: "23.08"
DEFAULT_NEXT_RAPIDS_VERSION: "23.10"

STABLE_DASK_SQL_VERSION: "2023.6.0"

ARCHS:
  - name: amd64
    os_list:
      - centos7
      - rockylinux8
      - ubuntu20.04
      - ubuntu22.04
    images:
      - rapidsai-core
      - rapidsai
  - name: arm64
    os_list:
      - rockylinux8
      - ubuntu20.04
      - ubuntu22.04
    images:
      - rapidsai-core

# Libraries included in RAPIDS core devel images
RAPIDS_LIBS:
  - name: rmm
    repo_url: https://github.com/rapidsai/rmm.git
  - name: benchmark
    repo_url: https://github.com/rapidsai/benchmark.git
    branch: main
  - name: raft
    repo_url: https://github.com/rapidsai/raft.git
  - name: cudf
    repo_url: https://github.com/rapidsai/cudf.git
    update_submodules: no
  - name: cusignal
    repo_url: https://github.com/rapidsai/cusignal.git
  - name: cuxfilter
    repo_url: https://github.com/rapidsai/cuxfilter
  - name: cuspatial
    repo_url: https://github.com/rapidsai/cuspatial.git
  - name: cuml
    repo_url: https://github.com/rapidsai/cuml.git
    update_submodules: no
  - name: cugraph
    repo_url: https://github.com/rapidsai/cugraph.git
  - name: xgboost
    update_submodules: no
    repo_url: https://github.com/rapidsai/xgboost.git
  - name: dask-cuda
    repo_url: https://github.com/rapidsai/dask-cuda.git
