{# This partial file is used for cleanup and ACL changes at the end of each image #}

{# Clean-up conda and update ACLs for all users #}
{%- macro cleanChmod(dirs) -%}
RUN chmod -R ugo+w /opt/conda {{ " ".join(dirs) }} \
  && conda clean -tipy \
  && chmod -R ugo+w /opt/conda {{ " ".join(dirs) }}
{%- endmacro %}
