{# This partial generates the build steps for RAPIDS libs. For use in the devel and quick-devel images. -#}

{# xgboost build will not find nccl in the conda env without this env var #}
ENV NCCL_ROOT=/opt/conda/envs/rapids
ENV PARALLEL_LEVEL=${PARALLEL_LEVEL}

{# Include 'rapids' conda env in LD_LIBRARY_PATH #}
ENV LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/conda/envs/rapids/lib

{% for lib in RAPIDS_LIBS %}
RUN cd ${RAPIDS_DIR}/{{ lib.name }} && \
  source activate rapids && \
  {% if lib.name == "cudf" %}
  ./build.sh && \
  ./build.sh tests

  {% elif lib.name == "cuspatial" %}
  export CUSPATIAL_HOME="$PWD" && \
  export CUDF_HOME="$PWD/../cudf" && \
  ./build.sh

  {% elif lib.name == "xgboost" %}
  mkdir -p build && cd build && \
  cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
        -DUSE_NCCL=ON -DUSE_CUDA=ON -DUSE_CUDF=ON \
        -DBUILD_WITH_SHARED_NCCL=ON \
        -DGDF_INCLUDE_DIR=$CONDA_PREFIX/include \
        -DCMAKE_CXX11_ABI=ON \
        -DCMAKE_BUILD_TYPE=release .. && \
  make -j && make -j install && \
  cd ../python-package && python setup.py install

  {% elif lib.name == "cuml" %}
  ./build.sh --allgpuarch libcuml cuml prims

  {% elif lib.name == "dask-cuda" or lib.name == "dask-xgboost" %}
  python setup.py install

  {% else %}
  ./build.sh

  {% endif %}
{% endfor %}
