{# This partial file is used to ensure there are no packages from the defaults conda channel #}

{# Check for defaults packages in rapids env #}
RUN source activate rapids \
    && CONDA_DEFAULT_PKG_NUM=`conda list | awk '{ print $4 }' | grep defaults | wc -l` \
    && if [[ ${CONDA_DEFAULT_PKG_NUM} -ne 0 ]]; then echo "ERROR: Packages from the default conda channel detected"; exit 1; fi
