{# This partial is used to install notebooks and their deps into 'runtime' and 'devel' images #}

{# Install the rapids-notebook-env meta-pkg #}
RUN gpuci_conda_retry install -y -n rapids \
        "rapids-notebook-env=${RAPIDS_VER}*" \
    && conda remove -y -n rapids --force-remove \
        "rapids-notebook-env=${RAPIDS_VER}*"

{# Install jupyter lab stuff #}
RUN gpuci_conda_retry install -y -n rapids jupyterlab-nvdashboard

RUN source activate rapids \
  && jupyter labextension install dask-labextension jupyterlab-nvdashboard

{# Install notebooks repo #}
RUN cd ${RAPIDS_DIR} \
  && source activate rapids \
  && git clone -b branch-${RAPIDS_VER} --depth 1 --single-branch https://github.com/rapidsai/notebooks.git \
  && cd notebooks \
  && git submodule update --init --remote --no-single-branch --depth 1

{# Add test file for testing notebooks from within the container #}
COPY test.sh /

WORKDIR ${RAPIDS_DIR}/notebooks
{# Jupyter notebook port #}
EXPOSE 8888
{# Dask Scheduler Bokeh port #}
EXPOSE 8787
EXPOSE 8786
