{# This partial is used to install notebooks and their deps into 'runtime' and 'devel' images #}

{# Install the rapids-notebook-env meta-pkg #}
RUN gpuci_conda_retry install -y -n rapids \
        "rapids-notebook-env=${RAPIDS_VER}*" \
    && gpuci_conda_retry remove -y -n rapids --force-remove \
        "rapids-notebook-env=${RAPIDS_VER}*"

{# Configure Dask Jupyter Lab Extension to use dask_cuda by default #}
ENV DASK_LABEXTENSION__FACTORY__MODULE="dask_cuda"
ENV DASK_LABEXTENSION__FACTORY__CLASS="LocalCUDACluster"

{# Install notebooks repo #}
RUN cd ${RAPIDS_DIR} \
  && source activate rapids \
  && git clone -b ${BUILD_BRANCH} --depth 1 --single-branch https://github.com/rapidsai/notebooks.git \
  && cd notebooks \
  && git submodule update --init --remote --no-single-branch --depth 1

{# Add test file for testing notebooks from within the container #}
COPY test.sh /

{# Add jupyter start/stop scripts #}
COPY start-jupyter.sh stop-jupyter.sh /rapids/utils/

WORKDIR ${RAPIDS_DIR}/notebooks
{# Jupyter notebook port #}
EXPOSE 8888
{# Dask Scheduler Bokeh port #}
EXPOSE 8787
EXPOSE 8786
