{# This partial is used to install notebooks and their deps into 'runtime' and 'devel' images #}

{# Install the rapids-notebook-env meta-pkg #}
RUN gpuci_conda_retry install -y -n rapids \
        "rapids-notebook-env=${RAPIDS_VER}*" \
    && gpuci_conda_retry remove -y -n rapids --force-remove \
        "rapids-notebook-env=${RAPIDS_VER}*"

{# Install jupyter lab stuff #}
RUN gpuci_conda_retry install -y -n rapids jupyterlab-nvdashboard nb_conda_kernels nbgitpuller

RUN source activate rapids \
  && jupyter labextension install @jupyter-widgets/jupyterlab-manager dask-labextension jupyterlab-nvdashboard

{# Configure Dask Jupyter Lab Extension to use dask_cuda by default #}
ENV DASK_LABEXTENSION__FACTORY__MODULE="dask_cuda"
ENV DASK_LABEXTENSION__FACTORY__CLASS="LocalCUDACluster"

{# Install notebooks repo #}
RUN cd ${RAPIDS_DIR} \
  && source activate rapids \
  && gitpuller https://github.com/rapidsai/notebooks ${BUILD_BRANCH} notebooks

{# Add test file for testing notebooks from within the container #}
COPY test.sh /

WORKDIR ${RAPIDS_DIR}/notebooks
{# Jupyter notebook port #}
EXPOSE 8888
{# Dask Scheduler Bokeh port #}
EXPOSE 8787
EXPOSE 8786
