{% if "centos" in os %}
RUN yum install -y \
      openssh-clients \
      openmpi-devel \
      libnsl \
      && yum clean all
{% endif %}

{% if "ubuntu" in os %}
RUN apt-get update \
    && apt-get install --no-install-recommends -y \
      openssh-client \
      libopenmpi-dev \
      openmpi-bin \
    && rm -rf /var/lib/apt/lists/*
{% endif %}
