{% if "centos" in os %}
RUN yum check-update \
    && yum install -y \
      openssh-clients
{% endif %}

{% if "ubuntu" in os %}
RUN apt-get update \
    && apt-get install --no-install-recommends -y \
      openssh-client \
    && rm -rf /var/lib/apt/lists/*
{% endif %}
