{# This partial is used to install patches to resolve known CVEs #}

{# Patch for CVE-2020-8116 https://github.com/advisories/GHSA-ff7x-qrg7-qggm #}
RUN source activate rapids \
    && npm i -g npm@">=7.0"

{% if "centos" in os %}
RUN yum -y upgrade \
    && yum clean all
{% else %}
RUN apt-get update \
    && apt-get -y upgrade \
    && rm -rf /var/lib/apt/lists/*
{% endif %}
