# RAPIDS Dockerfile for {{ os }} "devel" image
#
# RAPIDS is built from-source and installed in the base conda environment. The
# sources and toolchains to build RAPIDS are included in this image. RAPIDS
# jupyter notebooks are also provided, as well as jupyterlab and all the
# dependencies required to run them.
#
# Copyright (c) {{ now.year }}, NVIDIA CORPORATION.

ARG CUDA_VER={{ DEFAULT_CUDA_VERSION }}
ARG LINUX_VER={{ os }}
ARG PYTHON_VER={{ DEFAULT_PYTHON_VERSION }}
ARG RAPIDS_VER={{ DEFAULT_RAPIDS_VERSION }}
ARG FROM_IMAGE=gpuci/rapidsai

FROM ${FROM_IMAGE}:${RAPIDS_VER}-cuda${CUDA_VER}-devel-${LINUX_VER}-py${PYTHON_VER}

{# devel environment config args #}
ARG PARALLEL_LEVEL=16
ARG RAPIDS_VER
ARG BUILD_BRANCH="branch-${RAPIDS_VER}"

ARG PYTHON_VER

ENV RAPIDS_DIR=/rapids

{% if "ubuntu" in os %}
{# gsfonts is used to correctly render fonts in doxygen/graphviz diagrams #}
RUN apt-get update && apt-get install -y --no-install-recommends \
    gsfonts \
    && rm -rf /var/lib/apt/lists/*
{% endif %}

RUN mkdir -p ${RAPIDS_DIR}/utils {{ "${GCC7_DIR}/lib64" if "centos" in os }}
COPY nbtest.sh nbtestlog2junitxml.py ${RAPIDS_DIR}/utils/

{% if "centos" in os %}
{# Add compatible libm #}
COPY libm.so.6 ${GCC7_DIR}/lib64
{% endif %}

{# Install dependencies needed for devel: build deps + RAPIDS runtime deps +
notebook deps. This is done as a single install to ensure compatibility
between packages. #}
{% include 'partials/env_debug.dockerfile.j2' %}

{# Install rapids-build-env and rapids-doc-env from conda meta-pkg #}
RUN gpuci_conda_retry install -y -n rapids \
      "rapids-build-env=${RAPIDS_VER}*" \
      "rapids-doc-env=${RAPIDS_VER}*" \
      "libcumlprims=${RAPIDS_VER}*" \
      "ucx-py=${RAPIDS_VER}*" \
    && gpuci_conda_retry remove -y -n rapids --force-remove \
      "rapids-build-env=${RAPIDS_VER}*" \
      "rapids-doc-env=${RAPIDS_VER}*"

{% include 'partials/env_debug.dockerfile.j2' %}

{% include 'partials/install_notebooks.dockerfile.j2' %}

{# Setup ccache from conda package #}
ENV CCACHE_NOHASHDIR=
ENV CCACHE_DIR="/ccache"
ENV CCACHE_COMPILERCHECK="%compiler% --version"

ENV CC="/usr/local/bin/gcc"
ENV CXX="/usr/local/bin/g++"
ENV NVCC="/usr/local/bin/nvcc"
ENV CUDAHOSTCXX="/usr/local/bin/g++"
ENV CUDAToolkit_ROOT="/usr/local/cuda"
ENV CUDACXX="/usr/local/cuda/bin/nvcc"
ENV CMAKE_CUDA_COMPILER_LAUNCHER="ccache"
ENV CMAKE_CXX_COMPILER_LAUNCHER="ccache"
ENV CMAKE_C_COMPILER_LAUNCHER="ccache"

{# Add ccache folder and status check for ccache #}
COPY ccache /ccache
RUN ccache -s

{# Clone RAPIDS libraries #}
RUN cd ${RAPIDS_DIR} \
  && source activate rapids \
{% for lib in RAPIDS_LIBS | sort(attribute="update_submodules") %}
  && git clone -b {{ lib.branch | default('${BUILD_BRANCH}') }} --depth 1 --single-branch {{ lib.repo_url }} \
  && cd {{ lib.name }} \
  && git submodule update --init{{ ' --remote' if lib.update_submodules }} --recursive --no-single-branch --depth 1 {{ "\\" if not loop.last }}
  {{ "&& cd ${RAPIDS_DIR} \\" if not loop.last }}
{% endfor %}

{% if "centos" in os %}
{# Add /usr/local/cuda/* temporarily to LD_LIBRARY_PATH to support various build steps
This will need to be removed later since it causes problems with certain runtime libs (numba.cuda) #}
ENV LD_LIBRARY_PATH_PREBUILD=${LD_LIBRARY_PATH}
ENV LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/cuda/lib64:/usr/local/cuda/lib64/stubs
{% endif %}

{# xgboost build will not find nccl in the conda env without this env var #}
ENV NCCL_ROOT=/opt/conda/envs/rapids
ENV PARALLEL_LEVEL=${PARALLEL_LEVEL}

{# Include 'rapids' conda env in LD_LIBRARY_PATH #}
ENV LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/conda/envs/rapids/lib

{# RAPIDS library build loop #}
{% for lib in RAPIDS_LIBS %}
RUN cd ${RAPIDS_DIR}/{{ lib.name }} && \
  source activate rapids && \
  ccache -s && \
  {% if lib.name == "cudf" %}
  ./build.sh --allgpuarch libcudf cudf dask_cudf libcudf_kafka cudf_kafka tests

  {% elif lib.name == "cuspatial" %}
  export CUSPATIAL_HOME="$PWD" && \
  export CUDF_HOME="$PWD/../cudf" && \
  ./build.sh libcuspatial cuspatial tests

  {% elif lib.name == "xgboost" %}
  TREELITE_VER=$(conda list -e treelite | grep -v "#" | grep "treelite=") && \
  conda remove -y --force-remove treelite && \
  if [[ "$CUDA_VER" == "11.0" ]]; then \
    mkdir -p build && cd build && \
    cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
          -DUSE_NCCL=ON -DUSE_CUDA=ON -DUSE_CUDF=ON \
          -DBUILD_WITH_SHARED_NCCL=ON \
          -DGDF_INCLUDE_DIR=$CONDA_PREFIX/include \
          -DCMAKE_CXX_STANDARD:STRING="14" \
          -DPLUGIN_RMM=ON \
          -DRMM_ROOT=${RAPIDS_DIR}/rmm \
          -DCMAKE_BUILD_TYPE=release .. && \
    make -j && make -j install && \
    cd ../python-package && python setup.py install; \
  else \
    mkdir -p build && cd build && \
    cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
          -DUSE_NCCL=ON -DUSE_CUDA=ON -DUSE_CUDF=ON \
          -DBUILD_WITH_SHARED_NCCL=ON \
          -DGDF_INCLUDE_DIR=$CONDA_PREFIX/include \
          -DCMAKE_CXX11_ABI=ON \
          -DPLUGIN_RMM=ON \
          -DRMM_ROOT=${RAPIDS_DIR}/rmm \
          -DCMAKE_BUILD_TYPE=release .. && \
    make -j && make -j install && \
    cd ../python-package && python setup.py install; \
  fi && \
  gpuci_conda_retry install -y --no-deps "${TREELITE_VER}"

  {% elif lib.name == "cugraph" %}
  ./build.sh --allgpuarch cugraph libcugraph

  {% elif lib.name == "cuml" %}
  ./build.sh --allgpuarch --buildgtest libcuml cuml prims

  {% elif lib.name == "dask-cuda"%}
  python setup.py install

  {% else %}
  ./build.sh

  {% endif %}
{% endfor %}


{% if "centos" in os %}
{# Change LD_LIBRARY_PATH to exclude /usr/local/cuda/* since
numba.cuda cannot load that, and instead have it load
/lib64/libcuda.so instead #}
ENV LD_LIBRARY_PATH=${LD_LIBRARY_PATH_PREBUILD}
{% endif %}

{# Report ccache stats and cleanup; also fix  #}
RUN ccache -s \
  && ccache -c \
  && chmod -R ugo+w /ccache \
  && ccache -s

COPY packages.sh /opt/docker/bin/

{# Cleaup conda and set ACLs for all users #}
{% include 'partials/cleanup-chmod.dockerfile.j2' %}

COPY source_entrypoints/runtime_devel.sh /opt/docker/bin/entrypoint_source
COPY entrypoint.sh /opt/docker/bin/entrypoint
ENTRYPOINT [ "/usr/bin/tini", "--", "/opt/docker/bin/entrypoint" ]

{# Set the default command to pass to the ENTRYPOINT if no command was given #}
CMD [ "/bin/bash" ]
