{# This partial clones the dask-sql repo and build and installs it into the rapids conda env. #}

{# Install build prerequisites & runtime dependencies #}
RUN gpuci_mamba_retry install -y -n rapids \
      "maven>=3.6.0" \
      "setuptools_scm" \
      && gpuci_mamba_retry install -y -n rapids \
      --only-deps dask-sql=${DASK_SQL_VER}

{# Clone, build, install #}
RUN mkdir -p ${DASK_SQL_DIR} \
    && cd ${DASK_SQL_DIR} \
    && git clone -b ${DASK_SQL_VER} https://github.com/dask-contrib/dask-sql dask-sql

RUN source activate rapids \
    && cd ${DASK_SQL_DIR}/dask-sql \
    && python setup.py java \
    && python -m pip install . --no-deps -vv
