{# This partial clones the dask-sql repo and build and installs it into the rapids conda env. #}

{# Install build prerequisites #}
RUN gpuci_mamba_retry install -y -n rapids -c conda-forge \
      "maven>=3.6.0" \
      "pip" \
      "setuptools_scm"

{# Clone, build, install #}
RUN mkdir -p ${DASK_SQL_DIR} \
    && cd ${DASK_SQL_DIR} \
    && git clone -b ${DASK_SQL_VER} https://github.com/dask-contrib/dask-sql dask-sql

RUN source activate rapids \
    && cd ${DASK_SQL_DIR}/dask-sql \
    && python -m pip install . --no-deps -vv
