# RAPIDS Dockerfile for {{ os }} "base" image
#
# base: RAPIDS is installed from published conda packages to the 'rapids' conda
# environment.
#
# Copyright (c) {{ now.year }}, NVIDIA CORPORATION.

ARG CUDA_VER={{ DEFAULT_CUDA_VERSION }}
ARG LINUX_VER={{ os }}
ARG PYTHON_VER={{ DEFAULT_PYTHON_VERSION }}

FROM gpuci/rapidsai:${CUDA_VER}-runtime-${LINUX_VER}-py${PYTHON_VER}

{# base/runtime install specs #}
ARG DASK_XGBOOST_VER=0.2*
ARG RAPIDS_VER={{ RAPIDS_VERSION }}*

ENV RAPIDS_DIR=/rapids
{% if "ubuntu" in os %}
ENV LD_LIBRARY_PATH=/opt/conda/envs/rapids/lib:${LD_LIBRARY_PATH}
{% endif %}

{# Copy files needed by RAPIDS and 3rd parties for builds, test, and runtime. #}
RUN mkdir -p ${RAPIDS_DIR}/utils {{ "${GCC7_DIR}/lib64" if "centos" in os }}
COPY start_jupyter.sh condaretry nbtest.sh nbtestlog2junitxml.py ${RAPIDS_DIR}/utils/

{% if "centos" in os %}
{# Add compatible libm #}
COPY libm.so.6 ${GCC7_DIR}/lib64
{% endif %}

COPY .condarc /opt/conda/.condarc

{% include 'partials/env_debug.dockerfile.j2' %}

RUN gpuci_retry install -y -n rapids --freeze-installed \
  rapids=${RAPIDS_VER} \
  && conda clean -afy \
  && chmod -R ugo+w /opt/conda ${RAPIDS_DIR}

WORKDIR ${RAPIDS_DIR}

COPY .run_in_rapids.sh /.run_in_rapids
ENTRYPOINT [ "/usr/bin/tini", "--", "/.run_in_rapids" ]

{# Set the default command to pass to the ENTRYPOINT if no command was given #}
CMD [ "/bin/bash" ]
