# RAPIDS Dockerfile for {{ os }} "base" image
#
# base: RAPIDS is installed from published conda packages to the 'rapids' conda
# environment.
#
# Copyright (c) {{ now.year }}, NVIDIA CORPORATION.

ARG CUDA_VER={{ DEFAULT_CUDA_VERSION }}
ARG LINUX_VER={{ os }}
ARG PYTHON_VER={{ DEFAULT_PYTHON_VERSION }}
ARG RAPIDS_VER={{ DEFAULT_RAPIDS_VERSION }}
ARG FROM_IMAGE=gpuci/rapidsai

FROM ${FROM_IMAGE}:${RAPIDS_VER}-cuda${CUDA_VER}-base-${LINUX_VER}-py${PYTHON_VER}

{# base/runtime install specs #}
ARG DASK_XGBOOST_VER=0.2*
ARG RAPIDS_VER

ENV RAPIDS_DIR=/rapids
{% if "ubuntu" in os %}
ENV LD_LIBRARY_PATH=/opt/conda/envs/rapids/lib:${LD_LIBRARY_PATH}
RUN apt-get update \
  && apt-get install -y \
    sudo \
  && rm -rf /var/lib/apt/lists/*
{% endif %}

{# Copy files needed by RAPIDS and 3rd parties for builds, test, and runtime. #}
RUN mkdir -p ${RAPIDS_DIR}/utils {{ "${GCC7_DIR}/lib64" if "centos" in os }}
COPY nbtest.sh nbtestlog2junitxml.py ${RAPIDS_DIR}/utils/

{% if "centos" in os %}
{# Add compatible libm #}
COPY libm.so.6 ${GCC7_DIR}/lib64
RUN yum update -y \
    && yum install -y \
        sudo \
    && rm -rf /var/cache/yum/*
{% endif %}

{% include 'partials/env_debug.dockerfile.j2' %}

RUN gpuci_conda_retry install -y -n rapids \
  "rapids=${RAPIDS_VER}*"

{# Run common commands #}
COPY create_user.sh packages.sh /opt/docker/bin/
RUN /opt/docker/bin/create_user.sh

{# Cleaup conda and set ACLs for all users #}
{% include 'partials/cleanup-chmod.dockerfile.j2' %}

WORKDIR ${RAPIDS_DIR}

COPY entrypoint.sh /opt/docker/bin/entrypoint
ENTRYPOINT [ "/usr/bin/tini", "--", "/opt/docker/bin/entrypoint" ]

{# Set the default command to pass to the ENTRYPOINT if no command was given #}
CMD [ "/bin/bash" ]
