# RAPIDS Dockerfile for Ubuntu "quick devel" image
#
# RAPIDS is built from-source and installed in the base conda environment. The
# sources and toolchains to build RAPIDS are included in this image. RAPIDS
# jupyter notebooks are also provided, as well as jupyterlab and all the
# dependencies required to run them.
#
# Copyright (c) {{ now.year }}, NVIDIA CORPORATION.

ARG CUDA_VERSION={{ DEFAULT_CUDA_VERSION }}
ARG LINUX_VERSION={{ os }}
ARG PYTHON_VERSION={{ DEFAULT_PYTHON_VERSION }}

FROM rapidsaistaging/rapidsai-dev-nightly-staging:{{ RAPIDS_VERSION }}-cuda${CUDA_VERSION}-devel-${LINUX_VERSION}-py${PYTHON_VERSION}

ARG PARALLEL_LEVEL

{# Update RAPIDS repos #}
RUN source activate rapids && \
{% for lib in RAPIDS_LIBS %}
    cd ${RAPIDS_DIR}/{{ lib.name }} && \
    git pull {{ " \\" if not loop.last }}
{% endfor %}

{# Build RAPIDS #}
{% include 'partials/devel_build.dockerfile.j2' %}
