{% from 'partials/cleanup-chmod.dockerfile.j2' import cleanChmod %}
# RAPIDS Dockerfile for {{ os }} "runtime" image
#
# runtime: RAPIDS is installed from published conda packages to the 'rapids'
# conda environment. RAPIDS jupyter notebooks are also provided, as well as
# jupyterlab and all the dependencies required to run them.
#
# Copyright (c) {{ now.year }}, NVIDIA CORPORATION.

ARG CUDA_VER={{ DEFAULT_CUDA_VERSION }}
ARG LINUX_VER={{ os }}
ARG PYTHON_VER={{ DEFAULT_PYTHON_VERSION }}
ARG RAPIDS_VER={{ DEFAULT_NIGHTLY_RAPIDS_VERSION }}
ARG FROM_IMAGE=gpuci/rapidsai

FROM ${FROM_IMAGE}:${RAPIDS_VER}-cuda${CUDA_VER}-runtime-${LINUX_VER}-py${PYTHON_VER} AS rapids-core

{# base/runtime install specs #}
ARG DASK_XGBOOST_VER=0.2*
ARG RAPIDS_VER
ARG BUILD_BRANCH="branch-${RAPIDS_VER}"

RUN if [ "${BUILD_BRANCH}" = "main" ]; then sed -i '/nightly/d' /opt/conda/.condarc; fi

ENV RAPIDS_DIR=/rapids

{# Copy files needed by RAPIDS and 3rd parties for builds, test, and runtime. #}
RUN mkdir -p ${RAPIDS_DIR}/utils {{ "${GCC9_DIR}/lib64" if "centos" in os }}
COPY nbtest.sh nbtestlog2junitxml.py ${RAPIDS_DIR}/utils/

{% if "centos" in os %}
{# Add compatible libm #}
COPY libm.so.6 ${GCC9_DIR}/lib64
{% endif %}

{% include 'partials/os_pkgs.dockerfile.j2' %}

{% include 'partials/env_debug.dockerfile.j2' %}

RUN gpuci_conda_retry install -y -n rapids \
  "rapids=${RAPIDS_VER}*"

{# Patch for CVEs #}
{% include 'partials/patch.dockerfile.j2' %}

{# Install the notebook dependencies and the notebook repo #}
{% include 'partials/install_notebooks.dockerfile.j2' %}

COPY packages.sh /opt/docker/bin/

{# Cleaup conda and set ACLs for all users #}
{{ cleanChmod(["${RAPIDS_DIR}"]) }}

{% include 'partials/entrypoint.dockerfile.j2' %}


FROM rapids-core AS rapids-std

ARG RAPIDS_VER
ARG CUDA_VER
RUN gpuci_conda_retry install -y -n rapids -c blazingsql-nightly -c blazingsql \
  "rapids-blazing=${RAPIDS_VER}*" \
  "cudatoolkit=${CUDA_VER}"

ENV BLAZING_DIR=/blazing

{# Copy Blazing notebooks #}
{%include 'partials/clone_blazing_notebooks.dockerfile.j2' %}

WORKDIR ${RAPIDS_DIR}

{# Cleanup conda and set ACLs for all users #}
{{ cleanChmod(["${RAPIDS_DIR}", "${BLAZING_DIR}"]) }}

ENTRYPOINT [ "/usr/bin/tini", "--", "/opt/docker/bin/entrypoint" ]

{# Set the default command to pass to the ENTRYPOINT if no command was given #}
CMD [ "/bin/bash" ]

FROM rapids-std AS rapids-clx

ARG RAPIDS_VER
ARG CUDA_VER
RUN source activate rapids && \
    gpuci_conda_retry install -y -n rapids -c pytorch \
    "clx=${RAPIDS_VER}" \
    "cudf_kafka=${RAPIDS_VER}" \
    "custreamz=${RAPIDS_VER}" \
    seqeval \
    python-whois \
    "cudatoolkit=${CUDA_VER}" && \
    pip install "git+https://github.com/rapidsai/cudatashader.git" && \
    pip install wget && \
    pip install "git+https://github.com/slashnext/SlashNext-URL-Analysis-and-Enrichment.git#egg=slashnext-phishing-ir&subdirectory=Python SDK/src"

WORKDIR ${RAPIDS_DIR}

{# Cleanup conda and set ACLs for all users #}
{{ cleanChmod(["${RAPIDS_DIR}", "${BLAZING_DIR}"]) }}

ENTRYPOINT [ "/usr/bin/tini", "--", "/opt/docker/bin/entrypoint" ]

{# Set the default command to pass to the ENTRYPOINT if no command was given #}
CMD [ "/bin/bash" ]
