# Copyright (c) 2025, NVIDIA CORPORATION.
name: build-cuvs

on:
  workflow_call:
    inputs:
      ARCHES:
        required: true
        type: string
      CUDA_VER:
        required: true
        type: string
      LINUX_VER:
        required: true
        type: string
      PYTHON_VER:
        required: true
        type: string
      RAPIDS_VER:
        required: true
        type: string
      CUVS_BENCH_TAG:
        required: true
        type: string
      CUVS_BENCH_DATASETS_TAG:
        required: true
        type: string
      CUVS_BENCH_CPU_TAG:
        required: true
        type: string
      BUILD_CUVS_BENCH_CPU_IMAGE:
        required: true
        type: boolean

jobs:
  build:
    strategy:
      matrix:
        ARCH: ${{ fromJSON(inputs.ARCHES) }}
        CUDA_VER: ["${{ inputs.CUDA_VER }}"]
        LINUX_VER: ["${{ inputs.LINUX_VER }}"]
        PYTHON_VER: ["${{ inputs.PYTHON_VER }}"]
        RAPIDS_VER: ["${{ inputs.RAPIDS_VER }}"]
      fail-fast: false
    # Referencing something from the 'matrix' context prevents GitHub auto-generating
    # a hard-to-read name with all the matrix input values.
    #
    # The 'name:' in this file also becomes the name in the left-hand navigation list
    # on the 'Summary' page, so should be more specific than the one in the calling workflow.
    name: build-cuvs (${{ matrix.CUDA_VER }}, py${{ matrix.PYTHON_VER }}, ${{ matrix.ARCH }}, ${{ matrix.LINUX_VER }}, build_cpu=${{ inputs.BUILD_CUVS_BENCH_CPU_IMAGE }})
    runs-on: "linux-${{ matrix.ARCH }}-cpu4"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install gha-tools
        run: |
          mkdir -p /tmp/gha-tools
          curl -s -L 'https://github.com/rapidsai/gha-tools/releases/latest/download/tools.tar.gz' | tar -xz -C /tmp/gha-tools
          echo "/tmp/gha-tools" >> "${GITHUB_PATH}"
      - name: Clean up condarc for release builds
        run: |
          GIT_DESCRIBE_TAG="$(git describe --tags --abbrev=0)"
          GIT_DESCRIBE_TAG="${GIT_DESCRIBE_TAG:1}" # remove leading 'v'
          if [[ ! $GIT_DESCRIBE_TAG =~ [a-z] ]]; then
            rapids-logger 'Most recent tag is for release, adding the `rapidsai` channel and removing the `rapidsai-nightly` channel.'
            sed -i 's|rapidsai-nightly|rapidsai|' context/condarc
          else
            rapids-logger "Most recent tag is an alpha. Build will use nightly channels."
          fi
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GPUCIBOT_DOCKERHUB_USER }}
          password: ${{ secrets.GPUCIBOT_DOCKERHUB_TOKEN }}
      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          # Using the built-in config from NVIDIA's self-hosted runners means that 'docker build'
          # will use NVIDIA's self-hosted DockerHub pull-through cache, which should mean faster builds,
          # fewer network failures, and fewer rate-limiting issues
          buildkitd-config: /etc/buildkit/buildkitd.toml
          driver: docker
          endpoint: builders
      - name: Build cuVS Benchmarks GPU image
        uses: docker/build-push-action@v6
        with:
          context: context
          file: cuvs-bench/gpu/Dockerfile
          target: cuvs-bench
          push: true
          pull: true
          build-args: |
            CUDA_VER=${{ inputs.CUDA_VER }}
            LINUX_VER=${{ inputs.LINUX_VER }}
            PYTHON_VER=${{ inputs.PYTHON_VER }}
            RAPIDS_VER=${{ inputs.RAPIDS_VER }}
          tags: ${{ inputs.CUVS_BENCH_TAG }}-${{ matrix.ARCH }}
      # - name: Build cuVS Benchmarks GPU with datasets image
      #   uses: docker/build-push-action@v6
      #   with:
      #     context: context
      #     file: cuvs-bench/gpu/Dockerfile
      #     target: cuvs-bench-datasets
      #     push: true
      #     pull: true
      #     build-args: |
      #       CUDA_VER=${{ inputs.CUDA_VER }}
      #       LINUX_VER=${{ inputs.LINUX_VER }}
      #       PYTHON_VER=${{ inputs.PYTHON_VER }}
      #       RAPIDS_VER=${{ inputs.RAPIDS_VER }}
      #     tags: ${{ inputs.CUVS_BENCH_DATASETS_TAG }}-${{ matrix.ARCH }}
      - name: Build cuVS Benchmarks CPU image
        if: inputs.BUILD_CUVS_BENCH_CPU_IMAGE
        uses: docker/build-push-action@v6
        with:
          context: context
          file: cuvs-bench/cpu/Dockerfile
          target: cuvs-bench-cpu
          push: true
          pull: true
          build-args: |
            CUDA_VER=${{ inputs.CUDA_VER }}
            LINUX_VER=${{ inputs.LINUX_VER }}
            PYTHON_VER=${{ inputs.PYTHON_VER }}
            RAPIDS_VER=${{ inputs.RAPIDS_VER }}
          tags: ${{ inputs.CUVS_BENCH_CPU_TAG }}-${{ matrix.ARCH }}
