# Copyright (c) 2025, NVIDIA CORPORATION.
name: build-rapids

on:
  workflow_call:
    inputs:
      ARCHES:
        required: true
        type: string
      CUDA_VER:
        required: true
        type: string
      LINUX_DISTRO:
        required: true
        type: string
      LINUX_DISTRO_VER:
        required: true
        type: string
      LINUX_VER:
        required: true
        type: string
      PYTHON_VER:
        required: true
        type: string
      RAPIDS_VER:
        required: true
        type: string
      BASE_TAG:
        required: true
        type: string
      NOTEBOOKS_TAG:
        required: true
        type: string

env:
  # prevent buildx from creating arch-specific manifest lists...
  # we want single images, that are later referenced together in a multiarch manifest
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1

jobs:
  build:
    strategy:
      matrix:
        ARCH: ${{ fromJSON(inputs.ARCHES) }}
        CUDA_VER: ["${{ inputs.CUDA_VER }}"]
        LINUX_VER: ["${{ inputs.LINUX_VER }}"]
        PYTHON_VER: ["${{ inputs.PYTHON_VER }}"]
        RAPIDS_VER: ["${{ inputs.RAPIDS_VER }}"]
      fail-fast: false
    # Referencing something from the 'matrix' context prevents GitHub auto-generating
    # a hard-to-read name with all the matrix input values.
    #
    # The 'name:' in this file also becomes the name in the left-hand navigation list
    # on the 'Summary' page, so should be more specific than the one in the calling workflow.
    name: build-rapids (${{ matrix.CUDA_VER }}, py${{ matrix.PYTHON_VER }}, ${{ matrix.ARCH }}, ${{ matrix.LINUX_VER }})
    runs-on: "linux-${{ matrix.ARCH }}-cpu4"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Clean up condarc for release builds
        run: |
          GIT_DESCRIBE_TAG="$(git describe --tags --abbrev=0)"
          GIT_DESCRIBE_TAG="${GIT_DESCRIBE_TAG:1}" # remove leading 'v'
          if [[ ! $GIT_DESCRIBE_TAG =~ [a-z] ]]; then
            echo 'Most recent tag is for release, adding the `rapidsai` channel and removing the `rapidsai-nightly` channel.'
            sed -i 's|rapidsai-nightly|rapidsai|' context/condarc
          else
            echo "Most recent tag is an alpha. Build will use nightly channels."
          fi
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GPUCIBOT_DOCKERHUB_USER }}
          password: ${{ secrets.GPUCIBOT_DOCKERHUB_TOKEN }}
      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          # Using the built-in config from NVIDIA's self-hosted runners means that 'docker build'
          # will use NVIDIA's self-hosted DockerHub pull-through cache, which should mean faster builds,
          # fewer network failures, and fewer rate-limiting issues
          buildkitd-config: /etc/buildkit/buildkitd.toml
          driver: docker-container
          endpoint: builders
          version: 'v0.30.1'
      - name: Build base image
        uses: docker/build-push-action@v6
        with:
          context: context
          file: Dockerfile
          target: base
          push: true
          pull: true
          build-args: |
            CUDA_VER=${{ inputs.CUDA_VER }}
            LINUX_DISTRO=${{ inputs.LINUX_DISTRO }}
            LINUX_DISTRO_VER=${{ inputs.LINUX_DISTRO_VER }}
            LINUX_VER=${{ inputs.LINUX_VER }}
            PYTHON_VER=${{ inputs.PYTHON_VER }}
            RAPIDS_VER=${{ inputs.RAPIDS_VER }}
          tags: ${{ inputs.BASE_TAG }}-${{ matrix.ARCH }}
          # ensure only OCI mediatypes are used: https://docs.docker.com/build/exporters/#oci-media-types
          outputs: type=registry,oci-mediatypes=true
      - name: Build notebooks image
        uses: docker/build-push-action@v6
        with:
          context: context
          file: Dockerfile
          target: notebooks
          push: true
          pull: true
          build-args: |
            CUDA_VER=${{ inputs.CUDA_VER }}
            LINUX_DISTRO=${{ inputs.LINUX_DISTRO }}
            LINUX_DISTRO_VER=${{ inputs.LINUX_DISTRO_VER }}
            LINUX_VER=${{ inputs.LINUX_VER }}
            PYTHON_VER=${{ inputs.PYTHON_VER }}
            RAPIDS_VER=${{ inputs.RAPIDS_VER }}
          tags: ${{ inputs.NOTEBOOKS_TAG }}-${{ matrix.ARCH }}
          # ensure only OCI mediatypes are used: https://docs.docker.com/build/exporters/#oci-media-types
          outputs: type=registry,oci-mediatypes=true
