# Description: Ensures the generated files (Dockerfiles, DockerHub READMEs)
# are up to date in each PR.

name: generated-files

on: pull_request

jobs:
  up-to-date:
    name: up-to-date
    runs-on: ubuntu-latest
    container: python:3.8
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Generate new Dockerfiles & READMEs
        shell: bash
        run: |
          RAPIDS_NIGHTLY_VERSION=$(grep DEFAULT_NIGHTLY_RAPIDS_VERSION settings.yaml | cut -d ":" -f 2 | sed 's/[" ]//g')
          # PRs to 'main' are release PRs and therefore should consider the DEFAULT_NIGHTLY_RAPIDS_VERSION to be
          # the stable version instead of the nightly version. So we use the DEFAULT_STABLE_RAPIDS_VERSION
          [ "${BASE_BRANCH_NAME}" = "main" ] && RAPIDS_NIGHTLY_VERSION=$(grep DEFAULT_STABLE_RAPIDS_VERSION settings.yaml | cut -d ":" -f 2 | sed 's/[" ]//g')

          pip install -r requirements.txt
          ./generate_dockerfiles.py
          ./dockerhub-readme/generate_readmes.py -n ${RAPIDS_NIGHTLY_VERSION}
        env:
          BASE_BRANCH_NAME: ${{ github.base_ref }}
      - name: Check diffs
        run: |
          git diff
          git diff --exit-code --quiet
